header {



  height: 200px;

}

.top-divide {
  background-color: black;
  height:5px;
  position: relative;
  top: 50px;

}


nav {
  display:inline-block;
  font-family:sans-serif;
  position: relative;
  top: 10px;
  left: 15px;

}

a {
  padding: 10px;
  padding-left: 10px;
  color: black;
  letter-spacing: 10px;
  font-weight: bold;

}

h1 {
  display: inline-block;
  font-family: sans-serif;
  font-style: oblique;
  font-size: 75px;
  position:relative;
  top: 40px;
  left: 15px;


}
